<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/css/style1.css">
    <link rel="stylesheet" href="./static/css/styleR.css">
</head>
<body>
    <div class="container">
        <div class="right-section">
            <div class="right-border"></div>
            <div class="panel-box">
                <div class="logo-box">

                </div>
                <div class="perfil-box"></div>
                <h1 class="Name">CARLOS PEREZ</h1>
                <h3 class="Rol">Empresa</h3>
                <a href="/cotizaciones" class="modulo-box" onclick="selectModulo(this)" data-target="/cotizaciones">COTIZACIONES</a>
                <a href="/productos" class="modulo-box" onclick="selectModulo(this)" data-target="/productos">PRODUCTOS</a>
                <a href="/informes" class="modulo-box" onclick="selectModulo(this)" data-target="/informes">INFORMES</a>
                <a href="/compras" class="modulo-box" onclick="selectModulo(this)" data-target="/compras">COMPRAS</a>
                <a href="/clientes" class="modulo-box" onclick="selectModulo(this)" data-target="/clientes">CLIENTES</a>
                <a href="/vendedores" class="modulo-box" onclick="selectModulo(this)" data-target="/vendedores">VENDEDORES</a>
                <a href="/stock" class="modulo-box" onclick="selectModulo(this)" data-target="/stock">STOCK</a>
                <a href="/parametros" class="modulo-box" onclick="selectModulo(this)" data-target="/parametros">PARAMETROS</a>           
            </div>

            <div class="bottom-left">
                <a href="/salir" class="salir" onclick="selectModulo(this)" data-target="/salir">SALIR</a>
            </div>
        </div>
        

        <script>
            document.addEventListener("DOMContentLoaded", function(event) {
    // Recuperar el estado seleccionado del módulo de sessionStorage
    var moduloSeleccionado = sessionStorage.getItem("moduloSeleccionado");
    if (moduloSeleccionado) {
        var modulos = document.querySelectorAll('.modulo-box');
        modulos.forEach(function(element) {
            if (element.dataset.target === moduloSeleccionado) {
                element.classList.add('seleccionado');
            }
        });
    }
});

window.addEventListener("beforeunload", function(event) {
    // Guardar el estado seleccionado del módulo en sessionStorage
    var seleccionado = document.querySelector('.seleccionado');
    if (seleccionado) {
        var target = seleccionado.dataset.target;
        sessionStorage.setItem("moduloSeleccionado", target);
    }
});

function selectModulo(modulo) {
    // Remover la clase 'seleccionado' de todos los módulos
    var modulos = document.querySelectorAll('.modulo-box');
    modulos.forEach(function(element) {
        element.classList.remove('seleccionado');
    });

    // Agregar la clase 'seleccionado' al módulo clickeado
    modulo.classList.add('seleccionado');

    // Agregar la clase 'deslizar' a todos los módulos, excepto al seleccionado
    modulos.forEach(function(element) {
        if (element !== modulo) {
            element.classList.add('deslizar');
        }
    });

    // Quitar la clase 'deslizar' después de un breve período de tiempo
    setTimeout(function() {
        modulos.forEach(function(element) {
            element.classList.remove('deslizar');
        });
    }, 300); // Ajusta este valor para que coincida con el tiempo de transición en CSS
}


        </script>