<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/css/style1.css">
    <link rel="stylesheet" href="./static/css/styleR.css">
    <link rel="stylesheet" href="./static/css/styleT.css">
    <link rel="stylesheet" href="./static/css/styleF.css">
    

</head>
<body>
    <div class="container">
        <div class="right-section">
            <div class="right-border"></div>
            <div class="panel-box">
                <div class="logo-box">
                    <img src="./static/img/LOGOINOOVA.png" alt="Buscar" id="search-icon" > 
                </div>
                <div class="perfil-box"></div>
                <h1 class="Name">CARLOS PEREZ</h1>
                <h3 class="Rol">Empresa</h3>
                <a href="/cotizaciones" class="modulo-box" onclick="selectModulo(this)" data-target="/cotizaciones">COTIZACIONES</a>
                <a href="/productos" class="modulo-box" onclick="selectModulo(this)" data-target="/productos">PRODUCTOS</a>
                <a href="/informes" class="modulo-box" onclick="selectModulo(this)" data-target="/informes">INFORMES</a>
                <a href="/compras" class="modulo-box" onclick="selectModulo(this)" data-target="/compras">COMPRAS</a>
                <a href="/clientes" class="modulo-box" onclick="selectModulo(this)" data-target="/clientes">CLIENTES</a>
                <a href="/vendedores" class="modulo-box" onclick="selectModulo(this)" data-target="/vendedores">VENDEDORES</a>
                <a href="/stock" class="modulo-box" onclick="selectModulo(this)" data-target="/stock">STOCK</a>
                <a href="/parametros" class="modulo-box" onclick="selectModulo(this)" data-target="/parametros">PARAMETROS</a>           
            </div>

            <div class="bottom-left">
                <a href="/salir" class="salir" onclick="selectModulo(this)" data-target="/salir">SALIR</a>
            </div>
        </div>
        
        <script src="./static/js/actions.js"></script>