{% include 'Pages/panel.html' %}
        
<div class="left-section">
    <div class="content">
        <div class="title">
            <h2 style="font-size: 64px; margin-left: 40px; margin-bottom: 0px;">STOCK</h2>
            <h2 style="font-size: 30px; margin-left: 40px; margin-top: 0px;">STOCK</h2>
        </div>
    </div>

    <div class="empty-div">
        <!-- Contenedor para el campo de búsqueda y el selector de columna -->
        <div class="search-container">
            <!-- Selector de columna -->
           
            <!-- Contenedor para el campo de búsqueda -->
            <div class="search-input-container">
                <div class="column-selector-container">
               
               
                <label for="column-selector">Buscar por:</label>
                <select id="column-selector" >
                    <!-- Opciones se agregarán aquí con JavaScript -->
                </select>
            </div>
                <!-- Icono de la lupa -->
                <img src="./static/img/lupa.png" alt="Buscar" id="search-icon" class="search-icon">
                <!-- Input de búsqueda -->
                <input type="text" id="search-input" placeholder="">
            </div>
            <div class="create-button-container">
              <button id="mostrar-formulario" class="create-button" onclick="mostrarFormulario()">Crear</button>

                <button class="create-button">Crear</button>
            </div>
            
        </div>
        <!-- Div para la tabla -->
        <div class="table-container">
            <table id="stock-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>CODIGO</th>
                        <th>IMAGEN</th>
                        <th>STOCK</th> 
                        <th>PRODUCTO</th> 
                        <th>DESCUENTO/TIEMPO</th> 
                        <th>PRECIO</th> 
                        <th>ACCIONES</th> 
                    </tr>
                </thead>



                <tbody id="stock-body">
                    <!-- Filas de datos se agregarán aquí con JavaScript -->
                    {% for i in range(1, 11) %}
                    <tr>
                        <td>{{ i }}</td>
                        <td>CODIGO{{ i }}</td>
                        <td><img src="imagen{{ i }}.png" alt="Imagen de producto"></td>
                        <td>STOCK{{ i }}</td>
                        <td>PRODUCTO{{ i }}</td>
                        <td>DESCUENTO_TIEMPO{{ i }}</td>
                        <td>PRECIO{{ i }}</td>
                        <td>
                            <a href="/eliminar"> <button class="action-button"><img src="./static/img/borrar.png" alt="Eliminar"></button></a> 
                            <a href="/editar"> <button class="action-button"><img src="./static/img/editar.png" alt="EDITAR"></button></a> 
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                

                
            </table>
        </div>
        <!-- Controles de paginación debajo de la tabla -->
        <div class="pagination">
            <button id="prev-page"><img src="./static/img/atras.png" alt="Anterior"></button>
            <button id="next-page"><img src="./static/img/siguiente.png" alt="Siguiente"></button>
        </div>
    </div>
</div>




 <!-- FORMULARIO FLOTANTE DIV1 -->

<div id="crear-form-container" class="form-container">
    <div class="form-content">
        <H1 style="color: #758FA8;">CREAR PRODUCTO</H1>
        <span class="close-btn" onclick="cerrarFormulario()">&larr;</span>

       
        <div class="container-form-1">
        <div class="container-div1">
            <div class="column-container-F">
                <label for="column-selector">NOMBRE</label>
                <input type="text" style="width: 206px;;" class="textFormulario" placeholder>
            </div>

            <div class="column-container-F">
                <label for="column-selector">DESCUENTO</label>
                <input type="number" style="width: 98px;" class="textFormulario" placeholder min="0">
            </div>
            <div class="column-container-F"style="    margin: 0px;
            width: 84px;
        ">
                <label for="column-selector">TIEMPO</label>
                <input type="number" class="textFormulario" placeholder min="0">
            </div>

            <div class="column-container-F" style="    margin: 0px;
            width: 107%;">
                <label for="column-selector">D/M/A</label>
                <select id="tiempo_unidad" name="tiempo_unidad" required  class="textFormulario">
                    <option value="d">Días</option>
                    <option value="m">Meses</option>
                    <option value="a">Años</option>
                </select>
               
            </div>
        </div>
    </div>


 <!-- FORMULARIO FLOTANTE DIV2 -->
            
<div class="container-form-2">

    <div class="container-div1">
        <div class="column-container-F">
            <label for="column-selector">PORTADA PRODUCTO</label>
            <input type="file" id="imagen" name="imagen" accept="image/*" required>
        </div>

        <div class="column-container-F">
            <label for="column-selector">PRECIO</label>
            <input type="text" style="width: 98px;" class="textFormulario" placeholder>
        </div>
        <div class="column-container-F"style="    margin: 0px;
       width: 223px;
    ">
            <label for="column-selector">STOCK</label>
            <input type="number" class="textFormulario" placeholder min="0">

        </div>


    </div>
    
</div>
    <button type="submit" style="background:#A0B8CA;  width: 200px;
    height: 43px;
">GUARDAR</button>
    </div>
</div>



<script src="./static/js/pagination.js"></script>
<script src="./static/js/filter.js"></script>
<script src="./static/js/formularios.js"></script>
</body>
</html>
