{% include 'Pages/panel.html' %}
        
<div class="left-section">
    <div class="content">
        <div class="title">
            <h2 style="font-size: 64PX; margin-left: 40px; margin-bottom: 0px;">STOCK</h2>
            <h2 style="font-size: 30PX; margin-left: 40px; margin-top: 0px;">STOCK</h2>
        </div>
        
     
    </div>

    
    <div class="empty-div">
        <div class="search-container">
            <!-- Buscador a la izquierda -->
            <input type="text" placeholder="Buscar...">
            <!-- Botón de crear a la derecha -->
            <button>Crear</button>
        </div>
        <!-- Div para la tabla -->
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Encabezado de Columna 1</th>
                        <th>Encabezado de Columna 2</th>
                        <!-- Agrega más encabezados si es necesario -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Dato 1</td>
                        <td>Dato 2</td>
                        <!-- Agrega más datos si es necesario -->
                    </tr>
                    <!-- Agrega más filas si es necesario -->
                </tbody>
            </table>
        </div>
    </div>
    
</div>
</body>
</html>