{% include 'Pages/panel.html' %}
        
<div class="left-section">
    <div class="content">
        <div class="title">
            <h2 style="font-size: 64PX; margin-left: 40px; margin-bottom: 0px; ">VENDEDORES</h2>
            <h2 style="font-size: 30PX; margin-left: 40px; margin-top: 0px;  ">VENDEDORES</h2>
        </div>
       
        <div class="counter">
            <div class="counter-item">
                <p style="font-size: 64px; margin-left: 40px; margin-bottom: 0px;">0</p>
                <h3>VENDEDORES</h3>
            </div>
            
    </div>

</div>
    <div class="empty-div"></div>
</div>
</body>
</html>