.search-container {
    text-align: center;
    display: flex;
    margin-left: 9%;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.search-container input[type="text"] {
    width: 70%;
    height: 29px;
    text-align: center;
    border: 1px #A7B1D1;
    border-radius: 20px;
}

.column-selector-container {
    
    text-align: center;
    margin-bottom: 10px; /* Ajuste de margen inferior para separar del campo de búsqueda */
}

.column-selector-container label {
    margin-bottom: 5px; /* Espacio entre la etiqueta y el selector */
}


.table-container {
   
    overflow: auto; /* Añadir scroll si la tabla es muy larga */
    margin: 20px;
}

/* Estilos para el contenedor de botones de creación */
.create-button-container {
    display: flex; /* Para alinear los botones horizontalmente */
    justify-content: space-between; /* Para distribuir los botones uniformemente */
    margin-top: 10px; /* Espacio superior entre el contenedor de botones y la tabla */
}

/* Estilos para los botones de creación */
.create-button {
    margin-right: 10%;
    width: 150px;
    font-size: 20px;
    border-radius: 20px;
    background:#95A2B5;
}

/* Estilos para los botones de creación al pasar el mouse */
.create-button:hover {
    background-color: #0056b3; /* Cambio de color de fondo al pasar el mouse */
}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border: none; /* Eliminar bordes de las celdas */
}

th {
    text-align: center;
    color: #000000; /* Color del texto en el encabezado de columna */
}

td {
    text-align: center;
    background-color: #fff; /* Fondo blanco para filas */
    border-top: 1px solid #ccc; /* Línea divisoria entre filas */
}

button {
    padding: 8px 16px;
    background-color: #007bff; /* Color de fondo del botón */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px; /* Espacio superior entre botones y tabla */
}


.pagination {
    display: flex;
    justify-content: flex-end; /* Alinear los elementos a la derecha */
}

.pagination button {
    margin-left: 10px; /* Agrega un margen entre los botones para separarlos */
}


/* Agregar animación de aparición a la tabla */
.table-container table {
    opacity: 0; /* Comienza con opacidad 0 */
    animation: fadeIn 0.5s ease forwards; /* Animación de aparición */
}

/* Definir la animación */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px); /* Animación de desplazamiento hacia arriba */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

img.small {
    width: 20px; /* Ajusta el tamaño según sea necesario */
    height: 20px; /* Ajusta el tamaño según sea necesario */
}
