@font-face {
    font-family: OverpassMedium;
    src: url('../fonts/Overpass/static/Overpass-Medium.ttf'); /* Ruta relativa al archivo de la fuente */
}

@font-face {
    font-family: OverpassExtraLight;
    src: url('../fonts/Overpass/static/Overpass-ExtraLight.ttf'); /* Ruta relativa al archivo de la fuente */
}


.left-section {
    flex: 1;
    background-color: #DDDFE5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column; /* Ajustar la dirección de flexión a column */
}

.content {
    display: flex;
    width: 97%;
    border-top-left-radius: 20px;
    background: #95A2B5;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}
.counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo para el contenedor del campo de búsqueda */
.search-input-container {
    position: relative;
}


.search-icon {
    position: absolute;
    top: 82%;
    transform: translateY(-50%);
    left: 75%; /* Ajusta la posición horizontal del icono */
    width: 20px; /* Ajusta el ancho del icono */
    height: auto; /* Permite que la altura se ajuste automáticamente */
}



.counter-item {
    margin-right: 20px; /* Ajusta el espacio entre los elementos */
}

.font {
    font-size: 20px;
}

.title {
    text-align: left;
    margin: 29px;
    color:#FFFFFF;
    
}

.counter {
    text-align: right;
    margin: 29px;
  
    color:#FFFFFF;
}


.empty-div {
    flex: 1; /* Fill remaining space */
    width: 100%;
    height: 100%;
}



.empty-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinear al principio */
    align-items: stretch; /* Estirar para llenar el contenedor */
}

#column-selector{
    width: 70%;
    height: 29px;
    text-align: center;
    border: 1px #A7B1D1;
    border-radius: 20px;
}


/* Estilo para el botón */
.pagination button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0; /* Quita el relleno del botón */
    margin-top: -11px;
    margin-right: 20px;
}

/* Estilo para las imágenes */
.pagination button img {
    width: 30px; /* Ajusta el ancho de la imagen según sea necesario */
    height: 30px; /* Ajusta el alto de la imagen según sea necesario */
}

/* Quitar el efecto azul de enlace cuando se hace clic en el botón */
.pagination button:focus {
    outline: none;
}
/* Estilos para los botones de acción dentro de la tabla */
.action-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 4px; /* Ajusta el padding del botón */
}

/* Estilos para las imágenes dentro de los botones de acción */
.action-button img {
    width: 20px; /* Ajusta el ancho de la imagen según sea necesario */
    height: 20px; /* Ajusta el alto de la imagen según sea necesario */
}
