   /* Estilos para el contenedor flotante */
   .form-container {
    display: none; /* Por defecto oculto */
    position: fixed; /* Posición fija en la pantalla */
    z-index: 1; /* Por encima de otros elementos */
    left: 0;
    top: 0;
    
    width: 100%;
    height: 100%;
    overflow: auto; /* Para permitir desplazamiento si el contenido es más grande que la ventana */
    background-color: rgba(0,0,0,0.4); /* Fondo oscuro semitransparente */
}

/* Estilos para el contenido del formulario */
.form-content {
    background-color: #DDDFE5;
    margin: 5% auto;
    padding: 20px;
    TEXT-ALIGN: center;
    border-radius: 27px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
}

/* Estilos para el botón de cerrar */
.close-btn {
    position: absolute;
    left: 19px;
    top: 16px;
    cursor: pointer;
    font-size: 34px;
    padding: 5px 10px;
    border-radius: 50%;
    border: none;

}


/* Animación para el contenedor flotante */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Aplicar la animación al contenedor flotante */
.form-container.active {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
}
.inputTextForm{
    width: 70%;
    height: 29px;
    text-align: center;
    border: 1px #7482b1;
    border-radius: 20px;
}


.input-group{
    width: 15%;
}


.container-div1{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.textFormulario{
    width: 86%;
    height: 29px;
    text-align: center;
    border: 1px #A7B1D1;
    border-radius: 20px;
}

.column-container-F{
text-align: center;
    margin-bottom: 10px;
    margin-right: 20px;
}

.container-form-1{
    background-color: #DDDFE5;
    margin: 0% auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.container-form-2{
    overflow: auto;
    margin: 20px;
    padding: 24px;
}

