{% extends "layout.html" %}
{% block body %}
<div class="top-section">
    <!-- Div para los datos del usuario -->
    <div class="user-info">
        <div class="name">
            <h1>CLIENTES</h1>
        </div>
        <!-- Otros datos del usuario a la derecha -->
        <div class="user-details">
            <div class="module-details">
                <div class="data">
                    <h4></h4>
                </div>
                <div class="label">
                    <p></p>
                </div>
            </div>
            <div class="module-details">
                <div class="data">
                    {% set total_clientes = clientes|length %}
                    <h4>{{ total_clientes }}</h4>
                </div>
                <div class="label">
                    <p>CLIENTES</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Div para el buscador o cualquier otro contenido -->
<div class="search-bar">
    <div class="search-dropdown">
        <select id="search-select">
            <option value="codigo">Código</option>
            <option value="producto">Producto</option>
            <!-- Agrega más opciones según sea necesario -->
        </select>
        
    </div>
 
    <div class="input-wrapper">
        <input id="lblText" type="text" maxlength="26">
        <img src="{{url_for('static', filename ='img/lupa.png')}}" class="lupa">
    </div>

    <div><input
        name=""
        id="btnCrear"
        class="btn btn-primary"
        type="button"
        value="CREAR"
        onclick="toggleModal()"
    />
    </div>
</div>

<div class="bottom-section">
    <table id="stock-table">
        <!-- Encabezado de la tabla -->
        <thead>
            <tr>
                <th>ID</th>
                <th>IDENTIFICACION</th>
                <th>NOMBRE O RAZON SOCIAL</th>
                <th>TELEFONO</th> 
                <th>COMPRAS</th> 
                <th>ACCIONES</th> 
            </tr>
        </thead>

        <!-- Cuerpo de la tabla -->
        <tbody id="stock-body">
            <!-- Filas de datos se agregarán aquí con JavaScript -->
            {% for cliente in clientes %}
            {% if loop.index % 1 == 0 %} <!-- Agrega un fondo blanco a las filas 1 y 3 -->
            <tr style="background-color: white;">
            {% else %}
            <tr>
            {% endif %}
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.identificacion }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.compras }}</td>               
                <td>
            
                        <button class="action-button btnEliminarCliente" onclick="EliminarCliente('{{ cliente.id }}')"  ><img src="{{url_for('static', filename ='img/borrar.png')}}" alt="Eliminar">
                    </td>
                
            </tr>
            <tr> <!-- Aquí se agrega el espacio -->
                <td colspan="8">&nbsp;</td> <!-- Colspan para ocupar todas las columnas -->
            </tr>
            {% endfor %}
        </tbody>     
    </table>
    <!-- Paginación -->
    <div class="pagination">
        <button id="prev-page"><img src="{{url_for('static', filename ='img/atras.png')}}" alt="Anterior"></button>
        <button id="next-page"><img src="{{url_for('static', filename ='img/siguiente.png')}}" alt="Siguiente"></button>
    </div>
</div>

<div id="modal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close" onclick="toggleModal()">&times;</span>
       
        <div class="modal-content">
            <span class="close" onclick="cerrarModalCrearCliente()">&times;</span>
            <div class="input-container">
                <label for="identificacion_cliente">IDENTIFICACIÓN</label>
                <input type="text" id="identificacion_cliente" name="identificacion_cliente" placeholder="Identificación" required>
            </div>
            <div class="input-container">
                <label for="nombre_cliente">NOMBRE O RAZON SOCIAL</label>
                <input type="text" id="nombre_cliente" name="nombre_cliente" placeholder="Nombre o Razón Social" required>
            </div>
            <div class="input-container">
                <label for="telefono_cliente">TELÉFONO</label>
                <input type="text" id="telefono_cliente" name="telefono_cliente" placeholder="Teléfono" required>
            </div>
            <button type="button" onclick="CrearCliente()">Crear Cliente</button>
        </div>
</div>

{% endblock %}
