{% extends "layout.html" %}
{% block body %}
<div class="top-section">
    <!-- Div para los datos del usuario -->
    <div class="user-info">
        <div class="name">
            <h1>COTIZACIONES</h1>
        </div>
        <!-- Otros datos del usuario a la derecha -->
        <div class="user-details">
            <div class="module-details">
                <div class="data">
                    <h4>0</h4>
                </div>
                <div class="label">
                    <p>Usuarios</p>
                </div>
            </div>
            <div class="module-details">
                <div class="data">
                    <h4>0</h4>
                </div>
                <div class="label">
                    <p>Stock</p>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
