{% extends "layout.html" %}
{% block body %}
<div class="top-section">
    <!-- Div para los datos del usuario -->
    <div class="user-info">
        <div class="name">
            <h1>EMPRESAS</h1>
        </div>
        <!-- Otros datos del usuario a la derecha -->
        <div class="user-details">
            <div class="module-details">
                <div class="data">
                    <h4></h4>
                </div>
                <div class="label">
                    <p></p>
                </div>
            </div>
            <div class="module-details">
                <div class="data">
                    {% set tEmpresas = empresas|length %}
             
                    <h4>{{ tEmpresas }}</h4>
                    
                </div>
                <div class="label">
                    <p>EMPRESAS</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Div para el buscador o cualquier otro contenido -->
<div class="search-bar">
    <div class="search-dropdown">
        <select id="search-select">
            <option value="codigo">Código</option>
            <option value="producto">Producto</option>
            <!-- Agrega más opciones según sea necesario -->
        </select>
    </div>
    <div class="input-wrapper">
        <input id="lblText" type="text" maxlength="26">
        <img src="{{url_for('static', filename ='img/lupa.png')}}" class="lupa">
    </div>
    <div><input
        name=""
        id="btnCrear"
        class="btn btn-primary"
        type="button"
        value="CREAR"
        onclick="toggleModal()"
    />
    </div>
</div>





<div class="bottom-section">
    <table id="stock-table">
        <!-- Encabezado de la tabla -->
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>PERIODO /MESES</th>
                <th>ESTADO</th> 
                <th>ACCIONES</th> 
            
                
            </tr>
        </thead>

        <!-- Cuerpo de la tabla -->
        <!-- Cuerpo de la tabla -->
<tbody id="stock-body">
    <!-- Filas de datos se agregarán aquí con JavaScript -->
    {% for empresa in empresa %}
    {% if loop.index % 1 == 0 %} <!-- Agrega un fondo blanco a las filas 1 y 3 -->
    <tr style="background-color: white;">
    {% else %}
    <tr>
    {% endif %}
        <td class="empresa-id">{{ empresa.id }}</td>
        <td>{{ empresa.nombre }}</td>
        <td>{{ empresa.periodo }} </td>
       
    </td>
        
        <td>
            <button class="estados" disabled data-valor="{{empresa.estado}}"></button>
        </td>
        
        <td>
             <button class="action-button btnEliminarEmpresa" data-id="{{ empresa.id }}"><img src="{{url_for('static', filename ='img/borrar.png')}}" alt="Eliminar"></button></a> 
             <button class="action-button btnEditarEmpresa" data-id="{{ empresa.id }}" data-nombre="{{ empresa.nombre }}" data-estado="{{ empresa.estado }}" data-periodo="{{ empresa.periodo }}"><img src="{{url_for('static', filename ='img/editar.png')}}" alt="EDITAR"></button></a> 
        </td>
    </tr>
    <tr> <!-- Aquí se agrega el espacio -->
        <td colspan="8">&nbsp;</td> <!-- Colspan para ocupar todas las columnas -->
    </tr>
    {% endfor %}
</tbody>
    
    </table>
    <!-- Paginación -->
    <div class="pagination">
        <button id="prev-page"><img src="{{url_for('static', filename ='img/atras.png')}}" alt="Anterior"></button>
        <button id="next-page"><img src="{{url_for('static', filename ='img/siguiente.png')}}" alt="Siguiente"></button>
    </div>
</div>
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="toggleModal()">&times;</span>
            <div class="input-container">
                <label for="nombre_empresa" style="text-align: center;">NOMBRE EMPRESA</label>
                <input type="text" id="nombre_empresa" name="nombre_empresa" placeholder="" required>
            </div>
            <div class="input-container">
                <label for="periodo_actividad" style="text-align: center;">PERIODO DE ACTIVIDAD</label>
                <input type="text" id="periodo_actividad" name="periodo_actividad" placeholder="MESES" required>
            </div>

            <div class="input-container">
                <label for="periodo_actividad" style="text-align: center;">PERIODO DE ACTIVIDAD</label>
                <select name="ESTADO" id="ESTADO">
                    <option value="ACTIVO">ACTIVO</option>
                    <option value="INACTIVO">INACTIVO</option>
                </select>
            </div>
            <button type="submit" class="submit-button" onclick="CrearEmpresa()">CREAR</button>
            </div>
          
        </div>
    </div>

    <div id="modalEditar" class="modal">
        <div class="modal-content">
            <span class="close" onclick="cerrarFormularioEditar()">&times;</span>
            <div class="input-container">
                <label for="nombre_empresa_editar" style="text-align: center;">NOMBRE EMPRESA</label>
                <input type="text" id="nombre_empresa_editar" name="nombre_empresa_editar" placeholder="" required>
            </div>
            <div class="input-container">
                <label for="periodo_actividad_editar" style="text-align: center;">PERIODO DE ACTIVIDAD</label>
                <input type="text" id="periodo_actividad_editar" name="periodo_actividad_editar" placeholder="MESES" required>
            </div>
    
            <div class="input-container">
                <label for="estado_editar" style="text-align: center;">ESTADO</label>
                <select name="estado_editar" id="estado_editar">
                    <option value="ACTIVO">ACTIVO</option>
                    <option value="INACTIVO">INACTIVO</option>
                </select>
            </div>
            <input type="hidden" id="id_empresa_editar" name="id_empresa_editar">
            <button type="submit" class="submit-button" onclick="EditarEmpresa()">GUARDAR CAMBIOS</button>
        </div>
    </div>
    




  <script>document.querySelectorAll('.btnEditarEmpresa').forEach(item => {
    item.addEventListener('click', event => {
        const button = event.currentTarget;
        const id = button.dataset.id;
        const nombre = button.dataset.nombre;
        const estado = button.dataset.estado;
        const periodo = button.dataset.periodo;

        document.getElementById('nombre_empresa_editar').value = nombre;
        document.getElementById('periodo_actividad_editar').value = periodo;
        document.getElementById('estado_editar').value = estado;
        document.getElementById('id_empresa_editar').value = id;

  
        mostrarFormularioEditar();
    });

});
function
mostrarFormularioEditar() {
    document.getElementById("modalEditar").style.display = "block";
}

</script>

{% endblock %}
