{% extends "layout.html" %}
{% block body %}
<div class="top-section">
    <!-- Div para los datos del usuario -->
    <div class="user-info">
        <div class="name">
            <h1>INFORMES</h1>
        </div>
        <!-- Otros datos del usuario a la derecha -->
        <div class="user-details">
            <div class="module-details">
                <div class="data">
                    <h4></h4>
                </div>
                <div class="label">
                    <p></p>
                </div>
            </div>
            <div class="module-details">
                <div class="data">
                    {% set tInformes = informes|length %}
             
                    <h4>{{ tInformes }}</h4>
                </div>
                <div class="label">
                    <p>INFORMES</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Div para el buscador o cualquier otro contenido -->
<div class="search-bar">
    <div class="search-dropdown">
        <select id="search-select">
            <option value="codigo">Código</option>
            <option value="producto">Producto</option>
            <!-- Agrega más opciones según sea necesario -->
        </select>
    </div>
    <div class="input-wrapper">
        <input id="lblText" type="text" maxlength="26">
        <img src="{{url_for('static', filename ='img/lupa.png')}}" class="lupa">
    </div>
    
</div>





<div class="bottom-section">
    <table id="stock-table">
        <!-- Encabezado de la tabla -->
        <thead>
            <tr>
                <th>ID</th>
                <th>IDENTIFICACION</th>
                <th>NOMBRE</th>
                <th># FACTURA</th> 
                <th>ESTADO</th> 
                <th>DOCUMENTO PDF</th> 
        
            </tr>
        </thead>

        <!-- Cuerpo de la tabla -->
        <tbody id="stock-body">
            <!-- Filas de datos se agregarán aquí con JavaScript -->
            {% for Informe in informes %}
            {% if loop.index % 1 == 0 %} <!-- Agrega un fondo blanco a las filas 1 y 3 -->
            <tr style="background-color: white;">
            {% else %}
            <tr>
            {% endif %}
                <td>{{ Informe.id }}</td>
                <td>{{ Informe.identificacion }}</td>
                <td>{{ Informe.nombre }}</td>
                <td>{{ Informe.factura }}</td>
                <td>{{ Informe.estado }}</td>
                
                <td>
                    <a href="{{ informes.pdf }}"> <button class="action-button"><img src="{{url_for('static', filename ='img/pdf.png')}}" alt="pdf"></button></a> 
                </td>
            </tr>
            <tr> <!-- Aquí se agrega el espacio -->
                <td colspan="8">&nbsp;</td> <!-- Colspan para ocupar todas las columnas -->
            </tr>
            {% endfor %}
        </tbody>     
    </table>
    <!-- Paginación -->
    <div class="pagination">
        <button id="prev-page"><img src="{{url_for('static', filename ='img/atras.png')}}" alt="Anterior"></button>
        <button id="next-page"><img src="{{url_for('static', filename ='img/siguiente.png')}}" alt="Siguiente"></button>
    </div>
</div>

{% endblock %}
