{% extends "layout.html" %}
{% block body %}
<div class="top-section">
    <!-- Div para los datos del usuario -->
    <div class="user-info">
        <div class="name">
            <h1>INFORMES</h1>
        </div>
        <!-- Otros datos del usuario a la derecha -->
        <div class="user-details">
            <div class="module-details">
                <div class="data">
                    <h4></h4>
                </div>
                <div class="label">
                    <p></p>
                </div>
            </div>
            <div class="module-details">
                <div class="data">
                    {% set tInformes = informes|length %}
             
                    <h4>{{ tInformes }}</h4>
                </div>
                <div class="label">
                    <p>INFORMES</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Div para el buscador o cualquier otro contenido -->
<div class="search-bar">
    <div class="search-dropdown">
        <select id="search-select">
            <option value="codigo">Código</option>
            <option value="producto">Producto</option>
            <!-- Agrega más opciones según sea necesario -->
        </select>
    </div>
    <div class="input-wrapper">
        <input id="lblText" type="text" maxlength="26">
        <img src="{{url_for('static', filename ='img/lupa.png')}}" class="lupa">
    </div>
    
</div>





<div class="bottom-section">
    <table id="stock-table">
        <!-- Encabezado de la tabla -->
        <thead>
            <tr>
                <th>ID</th>
                <th>IDENTIFICACION</th>
                <th>NOMBRE</th>
                <th>FACTURA</th>
                <th>ESTADO</th>
                <th>PDF</th>
            </tr>
        </thead>
        <tbody>
            {% for informe in informe %}
            <tr>
                <td>{{ informe.id }}</td>
                <td>{{ informe.identificacion }}</td>
                <td>{{ informe.nombre }}</td>
                <td>{{ informe.factura }}</td>
                <td>{{ informe.estado }}</td>
                <td>
                    <a href="#" onclick="generarPDF({{ informe.id }})">
                        <img style="width: 30px;" src="{{ url_for('static', filename='img/pdf.png') }}" alt="">
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Paginación -->
    <div class="pagination">
        <button id="prev-page"><img src="{{url_for('static', filename ='img/atras.png')}}" alt="Anterior"></button>
        <button id="next-page"><img src="{{url_for('static', filename ='img/siguiente.png')}}" alt="Siguiente"></button>
    </div>
</div>

{% endblock %}
