<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Pagina Principal</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<!-- Incluye la biblioteca Toastr CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

<!-- Incluye la biblioteca Toastr JavaScript -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    
</head>
<body>
    <nav>
      <img src="{{url_for('static', filename ='img/logoinnova.png')}}" alt="Foto de perfil"  class="logo">
        <div class="profile">
            
            <img src="ruta-de-la-foto.jpg" alt="Foto de perfil">
            <div class="name">{{ session.username }}</div>
            <span class="mr-2 d-none d-lg-inline text-gray-600 small"><strong id="rol">{{ session.rol }}</strong></span>
            <span class="mr-2 d-none d-lg-inline text-gray-600 small"><strong id="empresa">{{ session.empresa }}</strong></span>
        </div>
        <ul class="nav-list">
            <li id="cotizacionesNavItem" class="nav-item">
                <div ><img src="{{url_for('static', filename ='img/Modulos/cotizaciones.png')}}" alt=""> </div>
                <div ><a class="nav-link" href="/controller/cotizaciones">Cotizaciones</a> </div>
            </li>
            <li id="clientesNavItem" class="nav-item">
                <div><img src="{{url_for('static', filename ='img/Modulos/cliente.png')}}" alt=""></div>
                <div> <a class="nav-link" href="/controller/clientes">Clientes</a></div>
            </li>

            <li id="informesNavItem" class="nav-item">
                <div class="box-center"><img src="{{url_for('static', filename ='img/Modulos/informe.png')}}" alt="">  </div> </div><a class="nav-link" href="/controller/informe">Informes</a></div>
            </li>
            <li id="parametrosNavItem" class="nav-item">
                <div class="box-center"><img src="{{url_for('static', filename ='img/Modulos/parametros.png')}}" alt="">  </div> </div><a class="nav-link" href="/controller/parametros">Parámetros</a></div>
            </li>
            <li id="productosNavItem" class="nav-item">
                <div class="box-center"><img src="{{url_for('static', filename ='img/Modulos/productos.png')}}" alt="">  </div></div><a class="nav-link" href="/controller/productos">Productos</a></div>
            </li>
        
            <li id="vendedoresNavItem" class="nav-item">
                <div class="box-center"><img src="{{url_for('static', filename ='img/Modulos/vendedor.png')}}" alt="">  </div> </div><a class="nav-link" href="/controller/vendedores">Vendedores</a></div>
            </li>
            <li id="empresasNavItem" class="nav-item">
                <div class="box-center"><img src="{{url_for('static', filename ='img/Modulos/empresas.png')}}" alt="">  </div> </div><a class="nav-link" href="/controller/empresa">Empresas</a></div>
            </li>

            <li id="ConsultarClienteNavItem" class="nav-item">
                <div class="box-center"><img src="{{url_for('static', filename ='img/Modulos/cliente.png')}}" alt="">  </div> </div><a class="nav-link" href="/controller/consultar">Consultar cliente</a></div>
            </li>
           
        </ul>
    <div class="logout"> 
    <div class="box_logout">
        <img src="{{url_for('static', filename ='img/logout.png')}}" alt=""><a href="/logout">Cerrar sesión</a>
    </div></div>
    </nav>

    <div class="container">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
      <link rel="stylesheet" href="{{url_for('static', filename ='css/Tables.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename ='css/Cotizaciones.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename ='css/style.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename ='css/formularios.css')}}">
      <script src="{{url_for('static', filename ='js/paginations.js')}}"></script>
      <script src="{{url_for('static', filename ='js/app.js')}}"></script>
      <script src="{{url_for('static', filename ='js/estados.js')}}"></script>
      <script src="{{url_for('static', filename ='js/cotizacionespg.js')}}"></script>
      <script src="{{url_for('static', filename ='js/formflotante.js')}}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
      <script src="../static/js/producto.js"></script>
      <script src="../static/js/parametros.js"></script>
      <script src="../static/js/clientes.js"></script>
      <script src="../static/js/cotizaciones.js"></script>
      <script src="../static/js/empresas.js"></script>
      <script src="../static/js/informes.js"></script>
      <script src="../static/js/stock.js"></script>
      <script src="../static/js/vendedores.js"></script>
      <script src="../static/js/consultar.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <!-- SweetAlert2 CSS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
      

<!-- SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

      {% block body %}
        {% endblock %}
        
    </div>
<!-- Agrega DataTables.js y jQuery al final del archivo -->

</body>
</html>
<script>

document.addEventListener("DOMContentLoaded", function () {
    let rol = document.getElementById("rol").innerText;
    console.log(rol);

    // Ocultar elementos basados en el rol del usuario
    if (rol === 'ADMIN') {
        ocultarElemento('cotizacionesNavItem');
        ocultarElemento('clientesNavItem');
        ocultarElemento('comprasNavItem');
        ocultarElemento('informesNavItem');
        ocultarElemento('productosNavItem');
        ocultarElemento('stockNavItem');
        ocultarElemento('vendedoresNavItem');
        ocultarElemento('parametrosNavItem');
        ocultarElemento('ConsultarClienteNavItem');

    } else if (rol === 'VENDEDOR') {
        ocultarElemento('cotizacionesNavItem');
        ocultarElemento('informesNavItem');
        ocultarElemento('stockNavItem');
        ocultarElemento('parametrosNavItem');
        ocultarElemento('vendedoresNavItem');
        ocultarElemento('empresasNavItem');
        
    } else if (rol === 'EMPRESA') {
        
        ocultarElemento('empresasNavItem');
    }
});

function ocultarElemento(idElemento) {
    var elemento = document.getElementById(idElemento);
    if (elemento) {
        elemento.style.display = 'none';
    }
}




 
</script>