<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="left-section">
            <span class="bottom-text" style="margin-left: 200px;color:#7A8594"">SHOP</span>
            <span class="bottom-text" style="margin-right: 372px; color:#FFFFFF">Innova</span>
        </div>
        <div class="right-section">
            <div class="right-border"></div>
            <div class="login-box">
                <h2 class="title">INICIAR SESION</h2>
                <h3 class="subtitle">Digite sus credenciales</h3>
                <form id="loginForm" action="">
                    <input type="text" name="username" placeholder="CORREO">
                    <input type="password" name="password" placeholder="CONTRASEÑA">
                    <select name="rol" id="rolSelect" class="options">
                        <option value="option">ROL</option>
                        <option value="admin">ADMIN</option>
                        <option value="empresa">EMPRESA</option>
                        <option value="vendedor">VENDEDOR</option>
                        <!-- Agrega más opciones si es necesario -->
                    </select>
                    <input type="submit" value="Login">
                </form>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevenir el envío del formulario
            
            // Obtener el valor seleccionado del rol
            var rol = document.getElementById('rolSelect').value;

            // Redirigir a la página correspondiente según el rol
            switch (rol) {
                case 'admin':
                    window.location.href = '/';
                    break;
                case 'empresa':
                    window.location.href = '/main';
                    break;
                case 'vendedor':
                    window.location.href = '/main';
                    break;
                default:
                    alert('Por favor, seleccione un rol válido');
            }
        });
    </script>
</body>
</html>
