{% extends "layout.html" %}
{% block body %}
<div class="top-section">
    <!-- Div para los datos del usuario -->
    <div class="user-info">
        <div class="name">
            <h1>PRODUCTOS</h1>
        </div>
        <!-- Otros datos del usuario a la derecha -->
        <div class="user-details">
            <div class="module-details">
                <div class="data">
                    <h4></h4>
                </div>
                <div class="label">
                    <p></p>
                </div>
            </div>
            <div class="module-details">
                <div class="data">
                    {% set tProductos = productos|length %}
             
                    <h4>{{ tProductos }}</h4>
                </div>
                <div class="label">
                    <p>PRODUCTOS</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Div para el buscador o cualquier otro contenido -->
<div class="search-bar">
    
    <div class="input-wrapper">
        <input id="lblText" type="text" maxlength="26">
        <img src="{{url_for('static', filename ='img/lupa.png')}}" class="lupa">
    </div>
    <div><input
        name=""
        id="btnCrear"
        class="btn btn-primary"
        type="button"
        value="CREAR"
        onclick="toggleModal()"
    />
    </div>
</div>





<div class="bottom-section">
    <table id="stock-table">
        <!-- Encabezado de la tabla -->
        <thead>
            <tr>
                <th>ID</th>
                <th>CODIGO</th>
                <th>IMAGEN</th>
                <th>STOCK</th> 
                <th>PRODUCTO</th> 
                <th>PRECIO</th> 
                <th>ACCIONES</th> 
            </tr>
        </thead>

        <!-- Cuerpo de la tabla -->
        <tbody id="stock-body">
            <!-- Filas de datos se agregarán aquí con JavaScript -->
            {% for productos in productos %}
            {% if loop.index % 1 == 0 %} <!-- Agrega un fondo blanco a las filas 1 y 3 -->
            <tr style="background-color: white;">
            {% else %}
            <tr>
            {% endif %}
                <td>{{ productos.id }}</td>
                <td>{{ productos.codigo }}</td>
                <td><img src="{{url_for('static', filename ='img/{{ productos.id }}.jpg')}}" alt="Imagen de producto" class="img-producto"></td>
                <td>{{ productos.stock }}</td>
                <td>{{ productos.producto }}</td>
             
                <td>{{ productos.precioFinal }}</td>
                <td>
                     <button class="action-button btnEliminarProducto" onclick="EliminarProducto('{{ productos.id }}')"  ><img src="{{url_for('static', filename ='img/borrar.png')}}" alt="Eliminar">
                     <button class="action-button btnEditarProducto"  data-id="{{ productos.id }}" data-producto="{{ productos.producto }}" data-stock="{{ productos.stock }}" data-precio="{{ productos.precioFinal }}" onclick="mostrarFormularioEditar()"><img src="{{url_for('static', filename ='img/editar.png')}}" alt="EDITAR">
                </td>
            </tr>
            <tr> <!-- Aquí se agrega el espacio -->
                <td colspan="8">&nbsp;</td> <!-- Colspan para ocupar todas las columnas -->
            </tr>
            {% endfor %}
        </tbody>     
    </table>
    <!-- Paginación -->
    <div class="pagination">
        <button id="prev-page"><img src="{{url_for('static', filename ='img/atras.png')}}" alt="Anterior"></button>
        <button id="next-page"><img src="{{url_for('static', filename ='img/siguiente.png')}}" alt="Siguiente"></button>
    </div>
</div>
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="toggleModal()">&times;</span><div class="input-container">
                <label for="nombre_producto" style="text-align: center;">PRODUCTO</label>
                <input type="text" id="nombre_producto" name="nombre_producto" placeholder="" required>
            </div>
            <div class="input-container">
                <label for="stock_producto" style="text-align: center;">STOCK</label>
                <input type="number" id="stock_producto" name="stock_producto" placeholder="" required>
            </div>
            <div class="input-container">
                <label for="precio_producto" style="text-align: center;">PRECIO</label>
                <input type="number" id="precio_producto" name="precio_producto" placeholder="" required>
            </div>
            <div class="input-container">
                <label for="precio_producto" style="text-align: center;">CATEGORIA</label>
                <select name="categoria" id="categoria">
                    <option value="">Selecciona una categoría</option>
                    <option value="Aseo">Aseo</option>
                    <option value="Hogar">Hogar</option>
                    <option value="Electrodomésticos">Electrodomésticos</option>
                    <option value="Tecnología">Tecnología</option>
                    <option value="Ropa">Ropa</option>
                    <option value="Alimentos">Alimentos</option>
                    <option value="Bebidas">Bebidas</option>
                    <option value="Salud y Belleza">Salud y Belleza</option>
                    <option value="Juguetes">Juguetes</option>
                    <!-- Agrega más opciones según tus necesidades -->
                </select>
            </div>
            <button type="submit" class="submit-button" onclick="CrearProducto()">AGREGAR PRODUCTO</button>
        </div>
    </div>


{% endblock %}
